html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
    font-family: "Plaifair Display", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #626262;
    background: #fff;
}

/* Header styles */

nav ul.wrapper li {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    text-transform: uppercase; 
    
}
nav ul.wrapper li:hover,
nav ul.wrapper li:focus {
    color: #03a9f4;
    cursor: pointer;
}
nav ul.wrapper li:first-child {
    margin-right: 120px;
}
nav ul.wrapper li:nth-of-type(2) {
    margin-right: 105px;
}
nav ul.wrapper li:nth-of-type(3) {
    margin-right: 95px;
}
nav {
    padding-top: 72px;
    padding-bottom: 83px;
    text-align: center;
}

/* Main content styles */


.wrapper {
    width: 900px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
}

.wrapper.main li {
    display: inline-block;
    width: 420px;  
    font-size: 0; 
    margin-bottom: 132px;
}
.wrapper.main li:last-child {
    margin: 0;
}
.wrapper.main li:nth-of-type(5){
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}

main p {
    font-size: 14px;
    
} 

article p.uppercase {
    text-transform: uppercase;
    margin-bottom: 35px;
}
.visually-hidden:not(:focus):not(:active),
    input[type="checkbox"].visually-hidden,
    input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 40px;
}
.main.wrapper {
    margin-bottom: 180px;
}
.wrapper.main li:nth-child(2n+1) {
    margin-right: 60px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 27px;
}

/* .button_wrapper {
    height: 185px;
    width: 900px;
    margin: 0 auto;
    position: relative;
} */

.load_button {
    width: 165px;
    height: 55px;
    background: #fff;
    border: 1px solid #626262;
    cursor: pointer; 
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    display: block;
    margin: 0 auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
