// COLORS

$basic-color: #ffffff;
$yellow: #fce38a;
$pink: #f38181;
$title-color: #333333;
$paragraph-color: #999999;

// TYPOGRAPGY

$primary-font-family: "Montserrat";
$paragraph-font-family: "Roboto";
$title-font-family: "Kaushan Script";
$light-weight: 300;
$normal-weight: 400;
$bold-weight: 700;
$italic-style: italic;
