html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #515151;
    background: #fff;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.main_navigation,
.products_list,
.blog_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Header style */

nav {
    padding-bottom: 100px;
    padding-top: 40px;
}

.site_logo {
    display: block;
    float: left;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #000000;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}

.site_logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

.main_navigation {
    width: 467px;
    float: right;
}

.main_navigation li {
    float: left;
    cursor: pointer;
}

.main_navigation a:hover,
.main_navigation a:focus {
    color: #1abc9c;

}

.main_navigation li:not(:last-child) {
    margin-right: 30px;
}

.main_navigation a {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 11px;
    color: #030706;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    vertical-align: middle;

}

/* Featured products section styles */
h2,
h3 {
    margin: 0;
    padding: 0;
}

.features_title,
.blog_title {
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #515151;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.blog_title {
    color: #555252;
}

h2::after {
    display: block;
    content: '';
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 31px;
}

.features_title,
.blog_title {
    margin-bottom: 90px;
}

.products_list {
    padding-bottom: 95px;
}

.products_list li {
    float: left;
    width: 255px;
    cursor: pointer;
    position: relative;
}

.products_list li:not(:nth-child(n+5)) {
    margin-bottom: 30px;
}

.products_list h3 {
    width: 255px;
    height: 40px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 900;
    background: #323232;
    line-height: 40px;
    padding-left: 14px;
    position: absolute;
    bottom: 0px;
    float: left;
}

.products_list p {
    width: 55px;
    height: 40px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    background: #8c8c8c;
    position: absolute;
    right: 0px;
    bottom: -18px;
}

.products_list li:hover p {
    background: #7fd9c7;
}

.products_list li:not(:nth-child(4n)) {
    margin-right: 30px;
}

.products_list li:hover h3,
.products_list li:focus h3 {
    background: #1abc9c;
}


/* Blog section styles */

.blog_list {
    padding-bottom: 45px;
}

.blog_list li {
    width: 350px;
    float: left;
}

.blog_list li:not(:last-child) {
    margin-right: 30px;
}

.blog_list h3 {
    font-size: 18px;
    line-height: 26px;
    color: #555252;
    font-family: "Open Sans";
    font-weight: 600;
    margin-bottom: 30px;
}

.blog_list h3::after {
    display: block;
    content: '';
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    margin-top: 10px;
}

.blog_list p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 17px;
}

.blog_list img {
    margin-bottom: 11px;
}

.blog_list a {
    display: inline-block;
    width: 159px;
    height: 51px;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
    background-color: #4ec6ab;
    color: #ffffff;
    text-align: center;
    margin-bottom: 45px;
    cursor: pointer;
    line-height: 51px;
}

.blog_list a p {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;

}